<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
    <!-- Bootstrap CSS -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.5.2/css/dataTables.dateTime.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="static/style.css">-->
<!--     <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css' %}">-->
       <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Office Employee Management System</title>
      <style>


      </style>
  </head>
  <body>

    <div class="container my-5">
        <h1 class="text-center">All Employee Details </h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Department</th>
          <th scope="col">Salary</th>
          <th scope="col">Bonus</th>
          <th scope="col">Role</th>
          <th scope="col">Phone</th>
          <th scope="col">Hire Date</th>
        </tr>
      </thead>
      <tbody>
        {% for emp in emps %}
          <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.first_name }}</td>
            <td>{{ emp.last_name }}</td>
            <td>{{ emp.dept }}</td>
            <td>{{ emp.salary }}</td>
            <td>{{ emp.bonus }}</td>
            <td>{{ emp.role }}</td>
            <td>{{ emp.phone }}</td>
            <td>{{ emp.hire_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  </body>
</html>