body{
  overflow-x: hidden;
  padding: 1px;
}
.search-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn{
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: -23px;
  font-size: 13px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content {
  right: 0;
  top: 100%;
}
.filter-container {
    position: relative;
}

.filter-form {
    position: absolute;
    top: 100%;
    right: -170px;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}
thead th:last-child .filter-form {
    right: 0;
}
table.dataTable 
th.dt-type-numeric, 
table.dataTable 
th.dt-type-date, 
table.dataTable 
td.dt-type-numeric, 
table.dataTable td.dt-type-date{
  text-align: left!important;
}
/*.filter-container .dropbtn {
    pointer-events: none;
}

.filter-container .dropbtn svg {
    pointer-events: auto; 
}*/

